<form class="example-form" (submit)="saveChanges()">

  <ng-container *ngFor="let input of inputDefs">
    <ng-container *ngIf="['string', 'number'].includes(input.type)">
      <mat-form-field>
        <mat-label>{{input.inputLabel}}</mat-label>
        <input *ngIf="input.type === 'number'" matInput [name]=input.fieldName type="number"
               [(ngModel)]="inputsValue[getValue(input.fieldName)]">
        <input *ngIf="input.type === 'string'" matInput [name]=input.fieldName
               [(ngModel)]="inputsValue[getValue(input.fieldName)]">
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="['select'].includes(input.type)">
      <mat-form-field>
        <mat-label>{{input.inputLabel}}</mat-label>
        <mat-select [(ngModel)]="inputsValue[getValue(input.fieldName)]" [name]="input.fieldName">
          <mat-option *ngFor="let option of input.options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="['autocomplete'].includes(input.type)">
      <mat-form-field>
        <mat-label>{{input.inputLabel}}</mat-label>
        <input matInput [(ngModel)]="inputsValue[getValue(input.fieldName)]" [name]=input.fieldName
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filterAutocompleteValues(input.options, inputsValue[getValue(input.fieldName)])" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="['date'].includes(input.type)">
      <mat-form-field>
        <mat-label>{{input.inputLabel}}</mat-label>
        <input matInput [matDatepicker]="picker" [name]=input.fieldName
               [(ngModel)]="inputsValue[getValue(input.fieldName)]">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-container>
  </ng-container>

  <button mat-raised-button color="accent" [disabled]="!editedObject">Submit</button>
</form>

