<app-table-editor fxLayoutAlign="center"
                  *ngIf="selected"
                  [inputDefs]="editableFields"
                  [edited]="selected"
                  (editionFinished)="onEditionFinished($event)"
></app-table-editor>

<table mat-table matSort [dataSource]="dataSource">
  <!-- Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    <td mat-footer-cell *matFooterCellDef> 600</td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    <td mat-footer-cell *matFooterCellDef> 800</td>
  </ng-container>

  <!-- Sex Column -->
  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef>Sex</th>
    <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
    <td mat-footer-cell *matFooterCellDef> 600</td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    <td mat-footer-cell *matFooterCellDef>{{getAgeMean()}}</td>
  </ng-container>

  <!-- Nationality Column -->
  <ng-container matColumnDef="nationality">
    <th mat-header-cell *matHeaderCellDef>Nationality</th>
    <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
    <td mat-footer-cell *matFooterCellDef>151</td>
  </ng-container>

  <!-- Contract Expiration Column -->
  <ng-container matColumnDef="contractExpiration">
    <th mat-header-cell *matHeaderCellDef>Contract Expires</th>
    <td mat-cell *matCellDef="let element"> {{element.contractExpiration | date}} </td>
    <td mat-footer-cell *matFooterCellDef>515</td>
  </ng-container>

  <!-- Last Visit Column -->
  <ng-container matColumnDef="lastVisit">
    <th mat-header-cell *matHeaderCellDef>Last Visit</th>
    <td mat-cell *matCellDef="let element"> {{element.lastVisit | date}} </td>
    <td mat-footer-cell *matFooterCellDef>515</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="setSelected(row)"
      [class]="row === selected ? 'row-selected' : null"></tr>
  <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
</table>
